In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
#setting working directory
os.chdir('C:\\Users\\Samriddhi\\Desktop\\NYCDataScience\\MachineLearning\\capstone')

In [5]:
Business_Review_Positve_AZ = pd.read_csv('Rdata\\Joshua\\LDA\\Revise_NLP_table_positive.csv')
Business_Review_Positve_AZ = Business_Review_Positve_AZ.iloc[:,1:]
Business_Review_Positve_AZ.head(3)

,business_id,text,stars_of_business,categories,stars_of_individual_review,AVG_stars_category,AVG_stars_category_round
0,x5Mv61CnZLohZWxfCVCPTQ,Not the same Domino's pizza I ate too much of ...,3.0,Chicken Wings,4,3.104846,3.0
1,x5Mv61CnZLohZWxfCVCPTQ,Easy ordering-on-line. Made exactly as I asked...,3.0,Chicken Wings,4,3.104846,3.0
2,x5Mv61CnZLohZWxfCVCPTQ,OK OK... as a Proud Italian I hope my momma do...,3.0,Chicken Wings,5,3.104846,3.0

In [6]:
len(Business_Review_Positve_AZ)

358670

In [7]:
#creating tuple of biz id and review
tup_Biz_Positive_review = zip(Business_Review_Positve_AZ['business_id'] , Business_Review_Positve_AZ['text'] )
tup_Biz_Positive_review[0:2]

[('x5Mv61CnZLohZWxfCVCPTQ',
  "Not the same Domino's pizza I ate too much of in College. Vastly different and a major improvement! Ordering on-line couldn't be easier, and pizza was made exactly how I ordered. Piping hot, flavorful, better than average crust, nicely blackened in all the right spots, tasty toppings, robust sauce. Friendly delivery by John. Price is fair. Much, much better than Pizza Hut!"),
 ('x5Mv61CnZLohZWxfCVCPTQ',
  "Easy ordering-on-line. Made exactly as I asked for. Piping hot. Sauce is SO, SO much better than their old stuff. Crust is like having an order of buttery-garlic soft bread sticks with your pizza. Delivery is super-fast, with charming, pleasant personality driver(s.) Our guests were apprehensive about eating Domino's from past experiences, and after the first bite, were practically inhaling pieces it was that good! I can tell that it is hand-made fresh. The dough is light and airy, the cheeses are tangy and savory, the meats are generous and better quality than most. My first choice in chain pizzas.")]

In [8]:
from collections import defaultdict

dict_Biz_Positive_review = {}
for k,v in tup_Biz_Positive_review:
    dict_Biz_Positive_review.setdefault(k,[]).append([v])

In [9]:
biz_PostiveReview_df = pd.DataFrame(dict_Biz_Positive_review.items(), columns =["business_id", "text"])
biz_PostiveReview_df.head(2)

              business_id                                               text
0  OlpyplEJ_c_hFxyand_Wxw  [[Excellent food. We had been eagerly looking ...
1  ny1T3dzXf8_ySXkFv37qwQ  [[Really good pizza and they do a ton of local...

In [13]:
biz_category_Positive = Business_Review_Positve_AZ.iloc[:,[0,2,3,5,6]]

,business_id,stars_of_business,categories,AVG_stars_category,AVG_stars_category_round
0,x5Mv61CnZLohZWxfCVCPTQ,3.0,Chicken Wings,3.104846,3.0
1,x5Mv61CnZLohZWxfCVCPTQ,3.0,Chicken Wings,3.104846,3.0

In [16]:
#group by and creatint index for new format of table
biz_category_Positive = Business_Review_Positve_AZ.iloc[:,[0,2,3,5,6]].groupby(['business_id','categories']).agg(['mean'])
biz_category_Positive['business_id']=map(lambda x: x[0], biz_category_Positive.index)
biz_category_Positive['categories']=map(lambda x: x[1], biz_category_Positive.index)
biz_category_Positive.head(2)

,,stars_of_business,AVG_stars_category,AVG_stars_category_round,business_id,categories
,,mean,mean,mean,,
business_id,categories,,,,,
--5jkZ3-nUPZxUvtcbr8Uw,Greek,4.5,3.963733,4.0,--5jkZ3-nUPZxUvtcbr8Uw,Greek
--BlvDO_RG2yElKu9XA1_g,Chinese,4.0,3.618266,3.5,--BlvDO_RG2yElKu9XA1_g,Chinese

In [17]:
biz_category_Positive.loc[biz_category_Positive['business_id'] == 'x5Mv61CnZLohZWxfCVCPTQ']

,,stars_of_business,AVG_stars_category,AVG_stars_category_round,business_id,categories
,,mean,mean,mean,,
business_id,categories,,,,,
x5Mv61CnZLohZWxfCVCPTQ,Chicken Wings,3.0,3.104846,3.0,x5Mv61CnZLohZWxfCVCPTQ,Chicken Wings

In [18]:
#merging the two postive tables
Biz_PostiveReview_Category_final = biz_PostiveReview_df.merge(biz_category_Positive,on="business_id", how='left')
Biz_PostiveReview_Category_final.head(2)

C:\Users\Samriddhi\Anaconda2\lib\site-packages\pandas\tools\merge.py:205: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

,business_id,text,"(stars_of_business, mean)","(AVG_stars_category, mean)","(AVG_stars_category_round, mean)","(categories, )"
0,OlpyplEJ_c_hFxyand_Wxw,[[Excellent food. We had been eagerly looking ...,3.0,3.685509,3.5,Asian Fusion
1,ny1T3dzXf8_ySXkFv37qwQ,[[Really good pizza and they do a ton of local...,4.0,3.670256,3.5,Pizza

In [21]:
#Renaming the columns
Biz_PostiveReview_Category_final.columns = ['business_id','text','stars_of_business','AVG_stars_category','\
                                    AVG_stars_category_round','categories']
Biz_PostiveReview_Category_final.head(2)

,business_id,text,stars_of_business,AVG_stars_category,AVG_stars_category_round,categories
0,OlpyplEJ_c_hFxyand_Wxw,[[Excellent food. We had been eagerly looking ...,3.0,3.685509,3.5,Asian Fusion
1,ny1T3dzXf8_ySXkFv37qwQ,[[Really good pizza and they do a ton of local...,4.0,3.670256,3.5,Pizza

In [24]:
len(Biz_PostiveReview_Category_final)

9018

In [22]:
#convert to scv
Biz_PostiveReview_Category_final.to_csv("Rdata//Joshua//LDA//Biz_PostiveReview_Category_09162016.csv", header=True)

In [ ]:
###################################################################################################################
##################################################  Negative Review ###############################################3
################################################################################################################33

In [25]:
Business_Review_Negative_AZ = pd.read_csv('Rdata\\Joshua\\LDA\\Revise_NLP_table_negative.csv')
Business_Review_Negative_AZ = Business_Review_Negative_AZ.iloc[:,1:]
Business_Review_Negative_AZ.head(1)

,business_id,text,stars_of_business,categories,stars_of_individual_review,AVG_stars_category,AVG_stars_category_round
0,x5Mv61CnZLohZWxfCVCPTQ,"The pizza wasn't horrible, but the deal was a...",3.0,Chicken Wings,2,3.104846,3.0

In [26]:
#creating tuple of biz id and review
tup_Biz_Negative_review = zip(Business_Review_Negative_AZ['business_id'] , Business_Review_Negative_AZ['text'] )
tup_Biz_Negative_review[0:2]

[('x5Mv61CnZLohZWxfCVCPTQ',
  "The pizza wasn't horrible,  but the deal was awful.  The prices are extremely high at Dominos in general,  and their medium 2 topping is a rip off.  Low rating is for price vs.  Quality,  and value."),
 ('x5Mv61CnZLohZWxfCVCPTQ',
  "I normally don't have a problem with Dominos--you pretty much know what you're getting for your money.\n\nUnfortunately, this Dominos, even though it is less than 3 miles away, won't deliver to my address. Not only will they not deliver, but they will take my order, ask me what the cross-streets are (so they KNOW how far I am), and wait 30 minutes before calling to tell me that they cancelled my order.\n\nThey could have checked my address when I gave it to them, or they could have called and asked if I wanted to pick it up instead, but instead they simly cancelled my order--and didn't let me know until it was supposed to be at my door,")]

In [27]:
from collections import defaultdict

dict_Biz_Negative_review = {}
for k,v in tup_Biz_Negative_review:
    dict_Biz_Negative_review.setdefault(k,[]).append([v])

In [28]:
biz_NegativeReview_df = pd.DataFrame(dict_Biz_Negative_review.items(), columns =["business_id", "text"])
biz_NegativeReview_df.head(2)

              business_id                                               text
0  OlpyplEJ_c_hFxyand_Wxw  [[I drove to Inchins on their very first day a...
1  kDGN_1dlCmIqEoKflTwwdw  [[Stopped here to get some food real quick. I ...

In [29]:
#group by and creatint index for new format of table
biz_category_Negative = Business_Review_Negative_AZ.iloc[:,[0,2,3,5,6]].groupby(['business_id','categories']).agg(['mean'])
biz_category_Negative['business_id']=map(lambda x: x[0], biz_category_Negative.index)
biz_category_Negative['categories']=map(lambda x: x[1], biz_category_Negative.index)
biz_category_Negative.head(2)

,,stars_of_business,AVG_stars_category,AVG_stars_category_round,business_id,categories
,,mean,mean,mean,,
business_id,categories,,,,,
--5jkZ3-nUPZxUvtcbr8Uw,Greek,4.5,3.963733,4.0,--5jkZ3-nUPZxUvtcbr8Uw,Greek
--BlvDO_RG2yElKu9XA1_g,Chinese,4.0,3.618266,3.5,--BlvDO_RG2yElKu9XA1_g,Chinese

In [32]:
#merging the two postive tables
Biz_NegativeReview_Category_final = biz_NegativeReview_df.merge(biz_category_Negative,on="business_id", how='left')
Biz_NegativeReview_Category_final.head(2)

,business_id,text,"(stars_of_business, mean)","(AVG_stars_category, mean)","(AVG_stars_category_round, mean)","(categories, )"
0,OlpyplEJ_c_hFxyand_Wxw,[[I drove to Inchins on their very first day a...,3.0,3.685509,3.5,Asian Fusion
1,kDGN_1dlCmIqEoKflTwwdw,[[Stopped here to get some food real quick. I ...,2.5,3.716936,3.5,American

In [35]:
Biz_NegativeReview_Category_final.columns = ['business_id','text','stars_of_business','AVG_stars_category','\
                                    AVG_stars_category_round','categories']
Biz_NegativeReview_Category_final.head(2)

,business_id,text,stars_of_business,AVG_stars_category,AVG_stars_category_round,categories
0,OlpyplEJ_c_hFxyand_Wxw,[[I drove to Inchins on their very first day a...,3.0,3.685509,3.5,Asian Fusion
1,kDGN_1dlCmIqEoKflTwwdw,[[Stopped here to get some food real quick. I ...,2.5,3.716936,3.5,American

In [36]:
len(Biz_NegativeReview_Category_final)

9098

In [37]:
#convert to scv
Biz_NegativeReview_Category_final.to_csv("Rdata//Joshua//LDA//Biz_NegativeReview_Category_09162016.csv", header=True)

In [ ]:
##########################################################################################################################3333
###########################################Combined  ALL #################################################################3333
############################################################################################################################

In [6]:

Business_Review_All_AZ = pd.read_csv('Rdata\\Joshua\\LDA\\Revise_NLP_table.csv')
Business_Review_All_AZ = Business_Review_All_AZ.iloc[:,1:]
Business_Review_All_AZ.head(1)

,business_id,text,stars_of_business,categories,stars_of_individual_review,AVG_stars_category,AVG_stars_category_round
0,x5Mv61CnZLohZWxfCVCPTQ,Not the same Domino's pizza I ate too much of ...,3.0,Chicken Wings,4.0,3.104846,3.0

In [7]:
#creating tuple of biz id and review
tup_Biz_All_review = zip(Business_Review_All_AZ['business_id'] , Business_Review_All_AZ['text'] )
tup_Biz_All_review[0:2]

[('x5Mv61CnZLohZWxfCVCPTQ',
  "Not the same Domino's pizza I ate too much of in College. Vastly different and a major improvement! Ordering on-line couldn't be easier, and pizza was made exactly how I ordered. Piping hot, flavorful, better than average crust, nicely blackened in all the right spots, tasty toppings, robust sauce. Friendly delivery by John. Price is fair. Much, much better than Pizza Hut!"),
 ('x5Mv61CnZLohZWxfCVCPTQ',
  "Easy ordering-on-line. Made exactly as I asked for. Piping hot. Sauce is SO, SO much better than their old stuff. Crust is like having an order of buttery-garlic soft bread sticks with your pizza. Delivery is super-fast, with charming, pleasant personality driver(s.) Our guests were apprehensive about eating Domino's from past experiences, and after the first bite, were practically inhaling pieces it was that good! I can tell that it is hand-made fresh. The dough is light and airy, the cheeses are tangy and savory, the meats are generous and better quality than most. My first choice in chain pizzas.")]

In [8]:
from collections import defaultdict

dict_Biz_All_review = {}
for k,v in tup_Biz_All_review:
    dict_Biz_All_review.setdefault(k,[]).append([v])

In [9]:
biz_AllReview_df = pd.DataFrame(dict_Biz_All_review.items(), columns =["business_id", "text"])
biz_AllReview_df.head(2)

              business_id                                               text
0  OlpyplEJ_c_hFxyand_Wxw  [[I drove to Inchins on their very first day a...
1  ny1T3dzXf8_ySXkFv37qwQ  [[Really good pizza and they do a ton of local...

In [10]:
#group by and creatint index for new format of table
biz_category_All = Business_Review_All_AZ.iloc[:,[0,2,3,5,6]].groupby(['business_id','categories']).agg(['mean'])
biz_category_All['business_id']=map(lambda x: x[0], biz_category_All.index)
biz_category_All['categories']=map(lambda x: x[1], biz_category_All.index)
biz_category_All.head(2)

,,stars_of_business,AVG_stars_category,AVG_stars_category_round,business_id,categories
,,mean,mean,mean,,
business_id,categories,,,,,
--5jkZ3-nUPZxUvtcbr8Uw,Greek,4.5,3.963733,4.0,--5jkZ3-nUPZxUvtcbr8Uw,Greek
--BlvDO_RG2yElKu9XA1_g,Chinese,4.0,3.618266,3.5,--BlvDO_RG2yElKu9XA1_g,Chinese

In [11]:
#merging the two postive tables
Biz_AllReview_Category_final = biz_AllReview_df.merge(biz_category_All,on="business_id", how='left')
Biz_AllReview_Category_final.head(2)

C:\Users\Samriddhi\Anaconda2\lib\site-packages\pandas\tools\merge.py:205: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

,business_id,text,"(stars_of_business, mean)","(AVG_stars_category, mean)","(AVG_stars_category_round, mean)","(categories, )"
0,OlpyplEJ_c_hFxyand_Wxw,[[I drove to Inchins on their very first day a...,3.0,3.685509,3.5,Asian Fusion
1,ny1T3dzXf8_ySXkFv37qwQ,[[Really good pizza and they do a ton of local...,4.0,3.670256,3.5,Pizza

In [12]:
Biz_AllReview_Category_final.columns = ['business_id','text','stars_of_business','AVG_stars_category','\
                                    AVG_stars_category_round','categories']
Biz_AllReview_Category_final.head(2)

,business_id,text,stars_of_business,AVG_stars_category,AVG_stars_category_round,categories
0,OlpyplEJ_c_hFxyand_Wxw,[[I drove to Inchins on their very first day a...,3.0,3.685509,3.5,Asian Fusion
1,ny1T3dzXf8_ySXkFv37qwQ,[[Really good pizza and they do a ton of local...,4.0,3.670256,3.5,Pizza

In [13]:
len(Biz_AllReview_Category_final)

9427

In [14]:
Business_latlong_AZ = pd.read_csv('Rdata\\Joshua\\LDA\\Final_table_for_predition_done_by_Sam.csv')
Business_latlong_AZ = Business_latlong_AZ.loc[:,['business_id','latitude', 'longitude','attributes.Price.Range']]
Business_latlong_AZ.head(2)

              business_id   latitude   longitude  attributes.Price.Range
0  x5Mv61CnZLohZWxfCVCPTQ  33.479482 -112.073681                     1.0
1  2ZnCITVa0abGce4gZ6RhIw  33.468547 -112.075085                     1.0

In [15]:
len(Business_latlong_AZ)

9427

In [19]:
#merging the two postive tables
Biz_AllReview_Category_latlong_final = Biz_AllReview_Category_final.merge(Business_latlong_AZ,on="business_id", how='left')
Biz_AllReview_Category_latlong_final.head(2)

,business_id,text,stars_of_business,AVG_stars_category,AVG_stars_category_round,categories,latitude,longitude,attributes.Price.Range
0,OlpyplEJ_c_hFxyand_Wxw,[[I drove to Inchins on their very first day a...,3.0,3.685509,3.5,Asian Fusion,33.575816,-111.926234,2.0
1,ny1T3dzXf8_ySXkFv37qwQ,[[Really good pizza and they do a ton of local...,4.0,3.670256,3.5,Pizza,33.137514,-111.540872,2.0

In [20]:
Biz_AllReview_Category_latlong_final.rename(columns={'attributes.Price.Range':'PriceRange'}, inplace=True)

In [21]:
Biz_AllReview_Category_latlong_final.head(1)

,business_id,text,stars_of_business,AVG_stars_category,AVG_stars_category_round,categories,latitude,longitude,PriceRange
0,OlpyplEJ_c_hFxyand_Wxw,[[I drove to Inchins on their very first day a...,3.0,3.685509,3.5,Asian Fusion,33.575816,-111.926234,2.0

In [22]:
#convert to scv
Biz_AllReview_Category_latlong_final.to_csv("Rdata//Joshua//LDA//Biz_AllReview_Category_09172016.csv", header=True)

In [ ]:
################################################################################################################################3
##############################################################################################################################
##########################################################################################################################33

In [23]:
Biz_noReviews = Biz_AllReview_Category_latlong_final.iloc[:,[0,2,3,4,5,6,7,8]]
Biz_noReviews.head()

,business_id,stars_of_business,AVG_stars_category,AVG_stars_category_round,categories,latitude,longitude,PriceRange
0,OlpyplEJ_c_hFxyand_Wxw,3.0,3.685509,3.5,Asian Fusion,33.575816,-111.926234,2.0
1,ny1T3dzXf8_ySXkFv37qwQ,4.0,3.670256,3.5,Pizza,33.137514,-111.540872,2.0
2,VZYMInkjRJVHwXVFqeoMWg,3.5,3.282601,3.5,Fast Food,33.486194,-112.073895,1.0
3,qcylQLL-fXdFHrdXC2jZFw,2.5,3.716936,3.5,American,33.424106,-111.939826,1.0
4,ke3RFq3mHEAoJE_kkRNhiQ,3.5,3.758429,4.0,Barbeque,33.433975,-111.903833,2.0

In [24]:
#convert to scv
Biz_noReviews.to_csv("Rdata//Joshua//LDA//Biz_NoReview_latlong_09172016.csv", header=True)

In [25]:
len(Biz_noReviews)

9427

In [ ]:
###############################################################################################################################3
######################################333 Graph Model ######################################################################33
##############################################################################################################################

In [27]:
Graph_Model_AZ = pd.read_csv('Rdata\\Joshua\\LDA\\graph_model_Second_cuisine_by_review.csv')
Graph_Model_AZ = Graph_Model_AZ.iloc[:,1:]
Graph_Model_AZ.head(2)

                                                text     categories
0  OK OK... as a Proud Italian I hope my momma do...  Chicken Wings
1  My husband and I just moved to Phoenix from No...           Thai

In [28]:
len(Graph_Model_AZ)

61792

In [29]:
#creating tuple of biz id and review
tup_Review_Category = zip(Graph_Model_AZ['categories'] , Graph_Model_AZ['text'] )
tup_Review_Category[0:2]

[('Chicken Wings',
  'OK OK... as a Proud Italian I hope my momma don\'t see this! I\'m actually going to give D\'moes a 5 star rating for a few reasons. Last Friday, me and my 2 brothers left the suns game, and proceed to put a few "adult" beverages back. At around 2am, when Haney\'s shut down, we had an overwhelming craving for crap pizza (its better than our normal Jack in Box at 3am run that usually ends up with someone puking in the drive thru line because the smell of the taco sauce is so amazing). Low and behold, the ONLY spot that was still taking orders (up to 2am!) was D\'moes. Now, 1st off - I live at Summitt (by BOB). These guys gladly delivered to me, all the way down there! Major props for that. 2 - They understood me... considering I don\'t remember ordering the pizza (I woke up to pizza and wings boxes all over my pad, and me saying "who ordered pizza" then I burped... wing sauce and vodka is a healthy combo. 3 - apparently, after checking my voice mail, the driver was pounding on our door for about 5 minutes (we were REALLY jamming out to Rock Band, in case you don\'t know, were pretty awesome. Wikipedia that Ish ladies and Gent\'s; Kansas City Bullriders). Well, the driver and my door man both called 3 times. I\'m assuming the driver eventually came in and grabbed the bass guitar and strummed it out. Maybe he had a slice with us? Who really knows these things. However, I do know that I was insanely impressed with D\'moes... from the left overs I ate the next when I could remember. It was pretty darn good. Between the awesome\'ness that is called "their customer service" and the legit taste it left in my mouth, I\'m a believer, unless, if I say I\'m not, will I get a commercial?... hmmmm.... Potential there....'),
 ('Thai',
  "My husband and I just moved to Phoenix from Northern California, the land of good Thai, and Wild Thaiger was the first Thai place we tried in the Valley of the Sun. Let's just say that the quality ingredients and enticing flavors made us feel a little less homesick. The prices were not rock-bottom, but I am always willing to pay a little more for good food and larger portions, both of which Wild Thaiger offers. The papaya salad was refreshing and really authentic, although the shrimp were a little fishy for our tastes. The soup we had was also very flavorful and best of all, the chicken in it was actual pieces of chicken breast (often, the chicken in soup is small pieces of dark meat). The Mussaman curry was also a lot better than most places we have had it - often, restaurants use pieces of flank or strip steak, but a more authentic version, like the one we had here, has more stew-like cuts of almost-braised beef. Also a real winner were the spicy clear/glass noodles with vegetables and chicken. And lest I forgot alcohol - the crowning glory of any meal - the specialty drinks offered seemed like they would be too sweet or weak, so my sister and I got Cosmos. They were appropriately strong and actually quite good! All around, a really great experience.")]

In [30]:
from collections import defaultdict

dict_Categories_review = {}
for k,v in tup_Review_Category:
    dict_Categories_review.setdefault(k,[]).append([v])

In [32]:
Category_Review_df = pd.DataFrame(dict_Categories_review.items(), columns =["categories", "text"])
Category_Review_df.head(5)

           categories                                               text
0           Brazilian  [[Fogo e Brasa is a Brazilian Steakhouse in Ph...
1       Chicken Wings  [[OK OK... as a Proud Italian I hope my momma ...
2           Malaysian  [[I've tried a few more dishes and have been v...
3          Vietnamese  [[I have been going to "TLC" for a couple year...
4  Tapas/Small Plates  [[A HIDDEN GEM in Scottsdale.  You have to alm...

In [33]:
len(Category_Review_df)

82

In [34]:
#convert to scv
Category_Review_df.to_csv("Rdata//Joshua//LDA//Review_Category_AZ_09172016.csv", header=True)